<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
  <meta charset="UTF-8">
  <title>Example - example-http-service</title>
  

  <script src="index_data/angular.js"></script>
  <script src="index_data/script.js"></script>
  

  
</head>
<body class="ng-scope" ng-app="httpExample">
  <div class="ng-scope" ng-controller="FetchController">
  <select class="ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="method" aria-label="Request method">
    <option selected="selected" value="GET">GET</option>
    <option value="JSONP">JSONP</option>
  </select>
  <input value="http-hello.html" class="ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="url" size="80" aria-label="URL" type="text">
  <button id="fetchbtn" ng-click="fetch()">fetch</button><br>
  <button id="samplegetbtn" ng-click="updateModel('GET', 'http-hello.html')">Sample GET</button>
  <button id="samplejsonpbtn" ng-click="updateModel('JSONP',
                  'https://angularjs.org/greet.php?callback=JSON_CALLBACK&amp;name=Super%20Hero')">
    Sample JSONP
  </button>
  <button id="invalidjsonpbtn" ng-click="updateModel('JSONP', 'https://angularjs.org/doesntexist&amp;callback=JSON_CALLBACK')">
      Invalid JSONP
    </button>
  <pre class="ng-binding">http status code: </pre>
  <pre class="ng-binding">http response data: </pre>
</div>

</body></html>